body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #34db6c, #b92965);
    color: #fff;
}

.container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    width: 100%;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #34db6c;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #b92965;
}

.result-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.result-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.new-game-button {
    background-color: #85ae27;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.new-game-button:hover {
    background-color: #8c5121;
}
